* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  border-collapse: collapse;
}

#wrapper {
  background-image: url("../img/img_1.png");
  background-size: cover;
  background-attachment: fixed;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

#tables-display {
  display: grid;
  grid-template-areas:
  'header main'
    'left right';
}

#btnPageNav {
  display: grid;
  grid-template-areas:
    'left right';
  margin: 0 10px;
  grid-area: header;
}

#btnPageNav button {
  padding: 10px 0;
  font-size: 20px;
  border-radius: 7px;
}

#tables-display table {
  border: 5px solid black;
  margin: 10px;
}

#tables-display th {
  font-size: 20px;
  height: 50px;
}

#tables-display td, #tables-display th {
  padding: 10px 0;
  border-bottom: 1px solid black;
}

#tables-display tr:nth-child(odd) {
  background-color: #d9e1f2;
}

#tables-display tr:nth-child(even) {
  background-color: #fff5cc;
}

#table-pokemons {
  grid-area: left;
}

#table-my-pokemons {
  grid-area: right;
}

#pokedex {
  display: grid;
  grid-template-columns: 80px auto 150px;
  justify-content: center;
  align-items: center;
  justify-items: start;
}


#pokedexHeader {
  grid-column-start: 1;
  grid-column-end: 4;
}

#pokedexLeft {
  grid-column-start: 1;
}

#pokedexRight {
  grid-column-start: 3;
}

#pokedexFooter {
  grid-column-start: 1;
  grid-column-end: 4;
}

#pokedexContent {
  width: 99%;
  height: 99%;
  display: grid;
  grid-template-areas:
    'stats img img'
    'stats moves moves';
  background-color: #f35978;
  border: solid 5px black;
  border-radius: 5px;
}

#pokedexContent img {
  grid-area: img;
  margin: auto;
  max-width: 250px;
  max-height: 250px;
}


#stats {
  margin: 20px;
  padding: 10px;
  grid-area: stats;
  display: grid;
  align-items: center;
}

#stats div {
  padding: 10px;
  display: grid;
  grid-template-areas:
    'left right';
  justify-content: space-between;
  background: linear-gradient(to right, #bd0f33 0%, #f35978 100%);
  border-radius: 5px;
}


#stats span {
  font-size: 25px;
}

#stats span:nth-child(odd) {
  font-weight: bold;
}
